@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
  margin: 0px;
  padding: 0px;
}

html, body{
  min-height: 100vh;
}
header{
  background-color: black;
  padding: 7%;
  text-align: center;
}
header > h1{
  color: white;
  font-family: serif;
}
header > p{
  color: #DDEAEA96;
}
header > p > a{
  color: white;
  text-decoration: none;
}

section{
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 30px;

}
section > p{
  line-height: 2em;
  font-family: "Sriracha", cursive;
}
.imagem {
  color: white;
  background-image: url("/pacote-d012/imagens/background001.jpg");
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}
#imagem2{
  background-image: url("/pacote-d012/imagens/background002.jpg");
  background-position: right center;
}
.imagem > p{
  background-color: #00000068;
  display: inline-block;
  padding: 5px;
}
footer{
  background-color: black;
  color:white;
  text-align: center;
}
footer > p >a{
  text-decoration: none;
  color: #979797C2;
}
